h1 {
  color: #00d9c0;
  text-align: center;
  font-family: cursive;
  font-size: 70px;
  margin-top: 0px;
}

body {
  background-color: #030301;
  color: #ffff;
  font-family: cursive;
}

.rock {
  align-items: center;
  border-radius: 50%;
  padding: 0px;
  border: none;
  margin: 30px;
  margin-top: 0px;
  background-color: transparent;
  cursor: pointer;
}

.rock:hover {
  background-color: #2f6db4;
}

img {
  width: 150px;
  height: 150px;
  display: block;
}

.scorebo {
  color: #ffff;
  text-align: center;
  font-family: cursive;
  font-size: 40px;
  min-height: 55px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.alwaysscore {
  color: #ffff;
  font-family: cursive;
  text-align: center;
  font-size: 24px;
}

.container1 {
  display: block;
  padding: 6px 18px;
  font-size: 17px;
  background-color: #2f6db4;
  border-radius: 20px;
  border: none;
  color: #ffff;
  margin: 20px auto;
  cursor: pointer;
}

@media (max-width: 600px) {
  h1 {
    font-size: 45px;
  }

  .rock {
    margin: 10px;
  }

  img {
    width: 100px;
    height: 100px;
  }
}
